extend ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/admin/enter/new")
                input(type="hidden", name="movie[_id]", value="#{movie._id}")
                .form-group
                    label.col-sm-2.control-label(for="inputCategory") movie_category
                    .col-sm-10
                        input#inputCategory.form-control(type="text", name="movie[category]", value="#{movie.category}")
                .form-group
                    label.col-sm-2.control-label(for="inputTitle") movie_name
                    .col-sm-10
                        input#inputTitle.form-control(type="text", name="movie[title]", value="#{movie.title}")
                .form-group
                    label.col-sm-2.control-label(for="inputDoctor") doctor
                    .col-sm-10
                        input#inputDoctor.form-control(type="text", name="movie[doctor]", value="#{movie.doctor}")
                .form-group
                    label.col-sm-2.control-label(for="inputCountry") country
                    .col-sm-10
                        input#inputCountry.form-control(type="text", name="movie[country]", value="#{movie.country}")
                .form-group
                    label.col-sm-2.control-label(for="inputLanguage") language
                    .col-sm-10
                        input#inputLanguage.form-control(type="text", name="movie[language]", value="#{movie.language}")
                .form-group
                    label.col-sm-2.control-label(for="inputPoster") poster
                    .col-sm-10
                        input#inputPoster.form-control(type="text", name="movie[poster]", value="#{movie.poster}")
                .form-group
                    label.col-sm-2.control-label(for="inputYear") year
                    .col-sm-10
                        input#inputYear.form-control(type="text", name="movie[year]", value="#{movie.year}")
                .form-group
                    label.col-sm-2.control-label(for="flash") flash position
                    .col-sm-10
                        input#flash.form-control(type="text",name="movie[flash]" value="#{movie.flash}")
                .form-group
                    label.col-sm-2.control-label(for="inputSummary") summary
                    .col-sm-10
                        input#inputSummary.form-control(type="text", name="movie[summary]", value="#{movie.summary}")
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type="submit") submit
